<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<ul>
    <li>
        <h1>标题:{{ title }}</h1>
        <h1>时间:{{ times |handletime('%Y*%m*%d %H:%M') }}</h1>
        <h1>正文:{{ center }}</h1>
    </li>
    <hr>
     <li>
        <h1>标题:{{ title }}</h1>
        <h1>时间:{{ times |handletime('%Y*%m*%d %H:%M') }}</h1>
        <h1>正文:{{ center }}</h1>

    </li>
    <hr>
     <li>
        <h1>标题:{{ title }}</h1>
        <h1>时间:{{ times |handletime('%Y*%m*%d %H:%M')}}</h1>
        <h1>正文:{{ center }}</h1>
    </li>
    <hr>
     <li>
        <h1>标题:{{ title }}</h1>
        <h1>时间:{{ times |handletime('%Y*%m*%d %H:%M') }}</h1>
        <h1>正文:{{ center }}</h1>

    </li>
</ul>

</body>
</html>