<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>登录页</title>
        <!--<style type="text/css">-->
        <!--.center-in-center{-->
            <!--position: absolute;-->
            <!--top: 50%;-->
            <!--left: 50%;-->
            <!-- -webkit-transform: translate(-50%, -50%);-->
            <!-- -moz-transform: translate(-50%, -50%);-->
            <!-- -ms-transform: translate(-50%, -50%);-->
            <!-- -o-transform: translate(-50%, -50%);-->
            <!--transform: translate(-50%, -50%);-->
        <!--}-->
    <!--</style>-->
</head>
<body>
<div class="center-in-center">
    <form action="" method="post">
        账号: <input type="text" name="account"><br>
        密码: <input type="password" name="password"><br>
        <input type="submit" value="登录"><br>
        <a href="/register" >没有账号?立即注册</a>
    </form>
</div>
</body>
</html>